* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --yellow: #fab63b;
  --orange: #fa6b3f;
  --green: #46b57b;
  --dark: #11151d;
  --darker: #0d1117;
  --darkest: #06090f;
  --light-gray: #fbfaf8;
  --dark-gray: #252d3a;
  --green-dark: #1cae93;
  --green-light: #94c840;
}
@media (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  -webkit-text-size-adjust: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

main {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 850px) {
  main {
    flex-direction: column;
  }
}

.logo h2 {
  font-size: 1.8rem;
}

.nav-button p,
.user p {
  font-size: 1.2rem;
  font-weight: 400;
}

.heading h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .heading h1 {
    font-size: 2.8rem;
  }
}
.heading p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 500px) {
  .heading p {
    font-size: 1.2rem;
  }
}

.heading-2 h2 {
  font-size: 2.2rem;
}

.transaction-status h3, .transaction-status b, .transaction-status p {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .transaction-status h3, .transaction-status b, .transaction-status p {
    font-size: 1.2rem;
  }
}

.receiver-info p {
  font-size: 1.2rem;
  margin-top: 2px;
}
@media (max-width: 500px) {
  .receiver-info p {
    font-size: 1rem;
  }
}

.amount {
  display: inline;
}

.card-details b {
  font-size: 3rem;
}
.card-details p:first-of-type {
  font-size: 1.4rem;
}
.card-details p:last-of-type {
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0.6rem;
}

.transfer-section h2 {
  font-size: 2.4rem;
}

label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
}
label:first-of-type {
  margin-top: 3rem;
}
label:last-of-type {
  margin-top: 2rem;
}

.dark {
  background-color: var(--dark) !important;
}

.darker {
  background-color: var(--darker) !important;
}

.darkest {
  background-color: var(--darkest) !important;
}

.dark-gray {
  background-color: var(--dark-gray);
  color: #fff;
}

.green-gradient {
  background-image: linear-gradient(to right, var(--green-dark), var(--green-light));
}
.green-gradient:hover {
  background-image: linear-gradient(to left, var(--green-dark), var(--green-light));
}

.invert {
  filter: invert(1);
}

.color-gray {
  color: rgba(0, 0, 0, 0.6);
}

.green {
  fill: var(--green);
}

.yellow {
  fill: var(--yellow);
}

.gray {
  fill: rgba(0, 0, 0, 0.8);
}

.light-green {
  background-color: rgba(70, 181, 123, 0.1);
}

.light-yellow {
  background-color: rgba(250, 183, 59, 0.2);
}

.light-gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-button {
  position: absolute;
  height: 5rem;
  width: 5rem;
  margin: 2rem;
  border-radius: 100%;
  transition-delay: 0.2s;
  transition: all 0.3s;
  display: none;
  z-index: 10;
}
@media (max-width: 1100px) {
  .menu-button {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .menu-button {
    right: 0;
  }
}
.menu-button::before {
  top: 40%;
}
.menu-button::after {
  top: 60%;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 3rem;
  background-color: #000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  z-index: 5;
  display: none;
}

.menu-open {
  background-color: #000;
  right: 0;
}
.menu-open::before, .menu-open::after {
  width: 3rem;
  background-color: #fff;
  top: 50%;
}
.menu-open::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-open::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-open {
  display: flex;
}

.invisible-button {
  display: none !important;
}

.active-button {
  color: var(--yellow) !important;
  border-left: 2px solid var(--yellow);
}
.active-button svg {
  fill: var(--yellow) !important;
}

.transform {
  transform: translate(0, 0);
  transition: transform 0.3s;
}

.overlay-visible {
  display: block;
}
@media (max-width: 850px) {
  .overlay-visible {
    display: none;
  }
}

nav,
.buttons-panel {
  display: flex;
  flex-direction: column;
}

nav {
  color: #fff;
  background-color: #000;
  justify-content: space-between;
  padding: 3rem 0rem 3rem 0;
}
@media (max-width: 1100px) {
  nav {
    display: none;
    position: relative;
    transform: translate(-100rem, 0);
    z-index: 10;
  }
}
@media (max-width: 850px) {
  nav {
    transform: translate(0, -100rem);
  }
}

.logo {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}
.logo img {
  width: 3.6rem;
  border-radius: 100%;
  filter: invert(1);
  transform: rotate(40deg);
  margin-right: 1rem;
}

.buttons-panel {
  margin-top: -20rem;
}
@media (max-width: 1200px) {
  .buttons-panel {
    margin-top: -10rem;
  }
}
@media (max-width: 1100px) {
  .buttons-panel {
    margin-top: -20rem;
  }
}
@media (max-width: 850px) {
  .buttons-panel {
    margin-top: 5rem;
  }
}

.nav-button, .themes {
  display: flex;
  align-items: center;
}

.nav-button {
  color: inherit;
  margin: 0.8rem 0;
  padding: 1rem 2rem;
}
.nav-button svg {
  width: 2rem;
  fill: #fff;
  margin-right: 1rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2rem 0;
}

.user {
  display: flex;
  align-items: center;
  background-color: var(--dark);
  border-radius: 0.5rem;
  margin: 0 1rem;
  width: 18rem;
  padding: 0.5rem;
  cursor: pointer;
}
.user img {
  width: 4rem;
  border-radius: 100%;
  margin-right: 4px;
}
.user svg {
  fill: #fff;
  width: 1rem;
  margin-left: 1rem;
}

.middle-section {
  width: 100%;
  padding: 3rem 5rem;
}
@media (max-width: 1100px) {
  .middle-section {
    margin-top: 6rem;
  }
}
@media (max-width: 600px) {
  .middle-section {
    padding: 3rem;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
}
.heading svg {
  width: 2.5rem;
}

.heading-2 {
  margin-top: 4rem;
}

.recent-transactions {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.transaction-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.transaction-status:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.receiver {
  display: flex;
  align-items: center;
}
.receiver-icon {
  display: flex;
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
}
.receiver-icon svg {
  display: inline-block;
  width: 2rem;
  margin: 0 auto;
}
.receiver-info {
  margin-left: 1rem;
}

canvas {
  margin-top: 5rem;
}

.right-panel {
  background-color: var(--light-gray);
  padding: 4rem;
}
@media (max-width: 850px) {
  .right-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 650px) {
  .right-panel {
    padding: 4rem 2rem;
  }
}
@media (max-width: 600px) {
  .right-panel {
    padding: 6rem 2rem;
    flex-direction: column;
  }
}

.card {
  height: 18rem;
  width: 28rem;
  border-radius: 2rem;
  padding: 2rem 2rem 1rem;
  color: #fff;
}
.card:nth-child(1) {
  background-color: var(--yellow);
}
.card:nth-child(2) {
  background-color: var(--orange);
  margin-top: -12rem;
}
.card:nth-child(3) {
  background-color: var(--green);
  margin-top: -12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top,
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-details:last-of-type {
  align-items: flex-start;
}

.contactless-icon {
  width: 4rem;
  fill: #fff;
}

.mastercard-icon {
  width: 4.5rem;
}

.transfer-section {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
@media (max-width: 850px) {
  .transfer-section {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .transfer-section {
    margin-top: 6rem;
  }
}

.connections {
  margin-top: 1rem;
}
.connections img {
  width: 5rem;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.4s;
}
.connections img:not(:first-of-type) {
  margin-left: -1rem;
}
.connections img:hover {
  transform: scale(1.2);
}
.connections img:active {
  transform: scale(1);
}

.number-input {
  position: relative;
}
@media (max-width: 600px) {
  .number-input {
    width: 70vw;
  }
}
.number-input svg {
  height: 2.5rem;
  fill: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: fill 0.3s;
}

input {
  width: 100%;
  padding: 1rem;
  padding-left: 4rem;
  margin-top: 2px;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  transition: border-color 0.3s;
}
input:focus, input:hover {
  outline: none;
  border-color: rgba(0, 0, 0, 0.4);
}
input:focus ~ svg, input:hover ~ svg {
  fill: rgba(0, 0, 0, 0.6);
}

.submit-button {
  background-color: #000;
  color: #fff;
  padding: 1.4rem;
  margin-top: 3rem;
  border-radius: 0.6rem;
  width: 100%;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=styles.css.map */
