*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    --yellow: #fab63b;
    --orange: #fa6b3f;
    --green: #46b57b;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    -webkit-text-size-adjust: 100%;
}

main{
    display: flex;
    justify-content: space-between;
}

nav{
    color: #fff;
    background-color: #000;
    padding: 3rem 0;
    width: 20rem;
    height: 100%;
}

nav,
.buttons-panel{
    display: flex;
    flex-direction: column;
}

.logo{
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.logo img{
    width: 3.6rem;
    border-radius: 100%;
    filter: invert(1);
    transform: rotate(40deg);
    margin-right: 1rem;
}

.logo h2{
    font-size: 1.8rem;
}

.buttons-panel{
    margin-top: 4rem;
}

.nav-button{
    display: flex;
    border: none;
    background-color: transparent;
    color: inherit;
    margin: 0.8rem 0;
    padding: 1rem 2rem;
    cursor: pointer;
    align-items: center;
}

.nav-button svg{
    width: 2rem;
    fill: #fff;
    margin-right: 1rem;
}

.nav-button p{
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-button:focus{
    outline: none;
}

.active-button{
    color: gold;
    border-left: 2px solid gold;
}

.active-button > svg{
    fill: gold;
}

/* .nav-button:focus:not(:last-of-type){
    color: gold;
    border-left: 2px solid gold;
}

.nav-button:focus:not(:last-of-type) > svg{
    fill: gold;
} */

.line{
    height: 2px;
    width: 100rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 2rem 0;
}

.right-panel{
    background-color: rgba(0, 0, 0, .1);
    padding: 4rem;
}

.card{
    height: 18rem;
    width: 28rem;
    border-radius: 2rem;
    padding: 2rem;
    color: #fff;
}

.card:nth-child(1){
    background-color: var(--yellow);
}

.card:nth-child(2){
    background-color: var(--orange);
    margin-top: -12rem;
}

.card:nth-child(3){
    background-color: var(--green);
    margin-top: -12rem;
}