// Colours for changing themes
.dark{
    background-color: var(--dark) !important;
}

.darker{
    background-color: var(--darker) !important;
}

.darkest{
    background-color: var(--darkest) !important;
}

.dark-gray{
    background-color: var(--dark-gray);
    color: #fff;
}

.green-gradient{
    background-image: linear-gradient(to right, var(--green-dark), var(--green-light));

    &:hover{
        background-image: linear-gradient(to left, var(--green-dark), var(--green-light));
    }
}

// Inverting colours for efficient and easier theme change
.invert{
    filter: invert(1);
}

// Utility classes for colours
.color-gray{
    color: rgba($color: #000, $alpha: 0.6);
}

.green{
    fill: var(--green);
}

.yellow{
    fill: var(--yellow);
}

.gray{
    fill: rgba($color: #000, $alpha: 0.8);
}

// Utility classes for light background colours
.light-green{
    background-color: rgba($color: #46b57b, $alpha: 0.1);
}

.light-yellow{
    background-color: rgba($color: #fab73b, $alpha: 0.2);
}

.light-gray{
    background-color: rgba($color: #000, $alpha: 0.1);
}

// Navigation button for smaller screens
.menu-button {
    position: absolute;
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    border-radius: 100%;
    transition-delay: .2s;
    transition: all .3s;
    display: none;
    z-index: 10;

    @include respond(1100px){
        display: inline-block;
    }

    @include respond(500px){
        right: 0;
    }

    &::before {
        top: 40%;
    }

    &::after {
        top: 60%;
    }
}

.menu-button::before,
.menu-button::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 3rem;
    background-color: #000;
    transition: all .5s;
}

// Background blur effect when navigation panel is opened
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000, $alpha: 0.1);
    backdrop-filter: blur(0.5rem);
    z-index: 5;
    display: none;
}

// Classes for different states of elements
.menu-open{
    background-color: #000;
    right: 0;

    &::before, &::after{
        width: 3rem;
        background-color: #fff;
        top: 50%;
    }

    &::before{
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.navbar-open{
    display: flex;
}

.invisible-button{
    display: none !important;
}

.active-button{
    color: var(--yellow) !important;
    border-left: 2px solid var(--yellow);

    svg{
        fill: var(--yellow) !important;
    }
}

.transform{
    transform: translate(0, 0);
    transition: transform .3s;
}

.overlay-visible{
    display: block;

    @include respond(850px){
        display: none;
    }
}