*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    --yellow: #fab63b;
    --orange: #fa6b3f;
    --green: #46b57b;
    --dark: #11151d;
    --darker: #0d1117;
    --darkest: #06090f;
    --light-gray: #fbfaf8;
    --dark-gray: #252d3a;
    --green-dark: #1cae93;
    --green-light: #94c840;

    @include respond(1600px){
        font-size: 75%;
    }

    @include respond(350px){
        font-size: 55%;
    }

    @include respond(320px){
        font-size: 50%;
    }
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-text-size-adjust: 100%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;
    }
}

main{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    @include respond(850px){
        flex-direction: column;
    }
}