*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    --yellow: #fab63b;
    --orange: #fa6b3f;
    --green: #46b57b;
    --dark: #0d1117;
    --darker: #06090f;
    --light-gray: #fbfaf8;
    --green-dark: #1cae93;
    --green-light: #94c840;
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-text-size-adjust: 100%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;
    }
}

main{
    display: flex;
    justify-content: space-between;
}

.dark{
    background-color: var(--dark) !important;
}

.darker{
    background-color: var(--darker) !important;
}