nav,
.buttons-panel{
    display: flex;
    flex-direction: column;
}

nav{
    color: #fff;
    background-color: #000;
    justify-content: space-between;
    padding: 3rem 0rem 3rem 0;

    @include respond(1100px){
        display: none;
        position: relative;
        transform: translate(-100rem, 0);
        z-index: 10;
    }

    @include respond(850px){
        transform: translate(0, -100rem);
    }
}

.logo{
    padding: 0 2rem;
    display: flex;
    align-items: center;

    img{
        width: 3.6rem;
        border-radius: 100%;
        filter: invert(1);
        transform: rotate(40deg);
        margin-right: 1rem;
    }
}

.buttons-panel{
    margin-top: -20rem;

    @include respond(1200px){
        margin-top: -10rem;
    }

    @include respond(1100px){
        margin-top: -20rem;
    }

    @include respond(850px){
        margin-top: 5rem;
    }
}

.nav-button, .themes{
    display: flex;
    align-items: center;
}

.nav-button{
    color: inherit;
    margin: 0.8rem 0;
    padding: 1rem 2rem;

    svg{
        width: 2rem;
        fill: #fff;
        margin-right: 1rem;
    }
}

.line{
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 2rem 0;
}

.user{
    display: flex;
    align-items: center;
    background-color: var(--dark);
    border-radius: 0.5rem;
    margin: 0 1rem;
    width: 18rem;
    padding: 0.5rem;
    cursor: pointer;
    
    img{
        width: 4rem;
        border-radius: 100%;
        margin-right: 4px;
    }

    svg{
        fill: #fff;
        width: 1rem;
        margin-left: 1rem;
    }
}