.right-panel{
    background-color: var(--light-gray);
    padding: 4rem;

    @include respond(850px){
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    @include respond(650px){
        padding: 4rem 2rem;
    }

    @include respond(600px){
        padding: 6rem 2rem;
        flex-direction: column;
    }
}

.card{
    height: 18rem;
    width: 28rem;
    border-radius: 2rem;
    padding: 2rem 2rem 1rem;
    color: #fff;

    &:nth-child(1){
        background-color: var(--yellow);
    }

    &:nth-child(2){
        background-color: var(--orange);
        margin-top: -12rem;
    }

    &:nth-child(3){
        background-color: var(--green);
        margin-top: -12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.card-top,
.card-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-details:last-of-type{
    align-items: flex-start;
}

.contactless-icon{
    width: 4rem;
    fill: #fff;
}

.mastercard-icon{
    width: 4.5rem;
}

.transfer-section{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

    @include respond(850px){
        margin-top: 0;
    }

    @include respond(600px){
        margin-top: 6rem;
    }
}

.connections{
    margin-top: 1rem;

    img{
        width: 5rem;
        border: 2px solid #fff;
        border-radius: 100%;
        cursor: pointer;
        transition: transform .4s;
    
        &:not(:first-of-type){
            margin-left: -1rem;
        }

        &:hover{
            transform: scale(1.2);
        }

        &:active{
            transform: scale(1);
        }
    }
}

.number-input{
    position: relative;

    @include respond(600px){
        width: 70vw;
    }

    svg{
        height: 2.5rem;
        fill: rgba(0,0,0, 0.2);
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        transition: fill 0.3s;
    }
}

input{
    width: 100%;
    padding: 1rem;
    padding-left: 4rem;
    margin-top: 2px;
    border: none;
    border: 2px solid rgba(0,0,0, 0.1);
    border-radius: 0.6rem;
    transition: border-color 0.3s;

    &:focus, &:hover{
        outline: none;
        border-color: rgba(0,0,0, 0.4);
    }

    &:focus ~ svg,
    &:hover ~ svg{
        fill: rgba(0,0,0, 0.6);
    }
}

.submit-button{
    background-color: #000;
    color: #fff;
    padding: 1.4rem;
    margin-top: 3rem;
    border-radius: 0.6rem;
    width: 100%;
    transition: background-color .3s;

    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
}