.middle-section{
    width: 100%;
    padding: 3rem 5rem;

    @include respond(1100px){
        margin-top: 6rem;
    }

    @include respond(600px){
        padding: 3rem;
    }
}

.heading{
    display: flex;
    justify-content: space-between;

    svg{
        width: 2.5rem;
    }
}

.heading-2{
    margin-top: 4rem;
}

.recent-transactions{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.transaction-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    &:not(:last-of-type){
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
    }
}

.receiver{
    display: flex;
    align-items: center;

    &-icon{
        display: flex;
        height: 4rem;
        width: 4rem;
        border-radius: 0.5rem;

        svg{
            display: inline-block;
            width: 2rem;
            margin: 0 auto;
        }
    }

    &-info{
        margin-left: 1rem;
    }
}

canvas{
    margin-top: 5rem;
}