.middle-section{
    width: 100%;
    padding: 3rem 5rem;
}

.heading{
    display: flex;
    justify-content: space-between;

    h1{
        font-size: 3.5rem;
        font-weight: 700;
    }

    p{
        font-size: 1.4rem;
        color: rgba($color: #000000, $alpha: 0.6);
    }

    svg{
        width: 2.5rem;
    }
}

.heading-2{
    margin-top: 4rem;

    h2{
        font-size: 2.2rem;
    }
}

.recent-transactions{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.transaction-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    &:not(:last-of-type){
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
    }

    h3, b, p{
        font-size: 1.5rem;
    }
}

.receiver{
    display: flex;
    align-items: center;

    &-icon{
        display: flex;
        height: 4rem;
        width: 4rem;
        border-radius: 0.5rem;

        svg{
            display: inline-block;
            width: 2rem;
            margin: 0 auto;
        }
    }

    &-info{
        margin-left: 1rem;

        p{
            font-size: 1.2rem;
            margin-top: 2px;
        }
    }
}

.amount{
    display: inline;
}